/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="button"] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="text"] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  input[type="text"]:focus {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none; }

/*
////////////////////////
  VARIABLES
////////////////////////
 */
/*
  SCREEN WIDTHS
  Min-width: 320px (smaller phone viewpoints) / smaller
  Min-width: 480px (small devices and most phones) / small
  Min-width: 768px (most tablets) / mid
  Min-width: 992px (smaller desktop viewpoints) / big
  Min-width: 1200px (large devices and wide screens) / large
 */
/*
////////////////////////
  TEMPLATES - for all devices
////////////////////////
 */
body .chat-section .chatWindow .chatWindowMessages .eventMessage, body .chat-section .chatWindow .chatWindowMessages .basicMessage {
  display: block;
  color: #000;
  width: 92%;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  margin-left: 2px;
  margin-top: 2px; }

/*
/////////////////////////////
  COMMON for all devices
/////////////////////////////
*/
body {
  font-family: "Russo One", sans-serif;
  padding: 5px; }
  body .hidden {
    display: none; }
  body #main-content {
    width: 100%; }
  body a {
    color: #363636; }
    body a:hover {
      color: #525252; }
  body input[type="button"] {
    font-family: "Russo One", sans-serif;
    background-color: #363636;
    cursor: pointer;
    display: block;
    width: 263px;
    height: 76px;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF; }
    body input[type="button"]:hover {
      background-color: #222; }
  body input[type="text"] {
    background-color: #F8F8F8;
    transition: ease-in-out, background-color .25s ease-in-out;
    font-family: "Russo One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #434343; }
    body input[type="text"]:focus {
      background-color: #f0f0f0; }
      body input[type="text"]:focus::placeholder {
        visibility: hidden; }
    body input[type="text"]::placeholder {
      color: #b6b6b6; }
  body input#createSend {
    background-color: #77D1AB; }
    body input#createSend:hover {
      background-color: #5BAA89; }
  body .chat-section .chatWindow {
    height: 50vh;
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px 10px;
    padding-left: 5px;
    position: relative;
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    overflow: hidden; }
    body .chat-section .chatWindow .chatWindowMessages {
      height: 100%;
      width: 100%;
      overflow-y: scroll; }
      body .chat-section .chatWindow .chatWindowMessages .eventMessage .messageContent {
        color: white;
        word-break: break-all;
        line-break: normal;
        background-color: #1B2725;
        margin-top: 5px;
        font-size: 1.8vh;
        line-height: 1.8em;
        margin-bottom: 5px;
        padding: 3px;
        border-radius: 3px;
        font-family: "Russo One", sans-serif; }
      body .chat-section .chatWindow .chatWindowMessages .basicMessage .messageContent {
        padding: 5px;
        word-break: break-all;
        line-break: normal;
        border-radius: 2px;
        min-height: 35px;
        background-color: white; }
      body .chat-section .chatWindow .chatWindowMessages .basicMessage .messageInfo {
        color: #525252;
        font-family: "Russo One", sans-serif;
        text-align: right;
        font-size: 1.6vh;
        margin-top: 5px;
        padding-right: 4px; }
    body .chat-section .chatWindow ::-webkit-scrollbar {
      display: none; }
    body .chat-section .chatWindow #scrollbar-container {
      position: absolute;
      right: 5px;
      bottom: 5px;
      top: 5px;
      width: 7px;
      border: 1px solid #F4F3F3;
      border-radius: 10px; }
      body .chat-section .chatWindow #scrollbar-container #scrollbar {
        position: absolute;
        right: 0;
        height: 30px;
        width: 7px;
        border-radius: 10px;
        background: #77D1AB; }
  body .chat-section .messageInputFieldSection {
    padding-top: 5px; }
    body .chat-section .messageInputFieldSection .chatFieldOverLay #chatField {
      border: 1px solid #E5E5E5;
      color: #000;
      font-family: "Open Sans", sans-serif;
      max-width: 100%;
      min-width: 98%;
      min-height: 25vh;
      max-height: 30vh;
      box-shadow: none;
      resize: none;
      font-size: 2.8vh; }
      body .chat-section .messageInputFieldSection .chatFieldOverLay #chatField:focus {
        outline: none !important;
        box-shadow: 0 0 1px #77D1AB; }
    body .chat-section .messageInputFieldSection .chatFieldOverLay .dragAndDrop {
      display: none; }
    body .chat-section .messageInputFieldSection .chatFieldOverLay .chatImageSend {
      width: 11vw;
      object-fit: scale-down;
      height: 11vw;
      padding: 5px;
      margin: 5px;
      border: 1px solid #77D1AB; }
    body .chat-section .messageInputFieldSection .chatFieldOverLay .removeSendPhotos {
      cursor: pointer;
      display: block;
      margin: 10px 5px 10px 10px;
      width: 32px;
      height: 29px; }
      body .chat-section .messageInputFieldSection .chatFieldOverLay .removeSendPhotos #close {
        position: static;
        left: 0;
        cursor: pointer;
        display: block;
        width: 32px;
        height: 29px; }
    body .chat-section .messageInputFieldSection .dragAndDropOverlay {
      border: 1px solid #E5E5E5; }
    body .chat-section .messageInputFieldSection #sendMessage {
      transition: 0.3s ease-in-out;
      cursor: pointer; }
      body .chat-section .messageInputFieldSection #sendMessage:hover {
        transform: scale(0.9); }
    body .chat-section .messageInputFieldSection #moreMessage {
      transition: 0.3s ease-in-out;
      cursor: pointer; }
      body .chat-section .messageInputFieldSection #moreMessage:hover {
        transform: scale(0.9); }

/*
///////////////////////////////
     MOBILE device specific
///////////////////////////////
*/
@media screen and (max-width: 480px) {
  svg#main-logo {
    width: 100%;
    height: 258px; }

  .entry-section {
    width: 100%; }
    .entry-section #errorLabel {
      display: none;
      margin-bottom: 20px;
      padding: 10px;
      color: crimson; }
    .entry-section .entry-inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      padding-right: 5px;
      padding-left: 5px;
      height: 250px; }
      .entry-section .entry-inputs input[type="text"] {
        max-width: 77%;
        min-width: 77%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        flex-grow: 1;
        height: 24px;
        transition: ease-in-out, height, font-size .1s ease-in-out; }
        .entry-section .entry-inputs input[type="text"]:focus {
          font-size: 24px;
          min-width: 77%;
          height: 40px; }
      .entry-section .entry-inputs svg {
        min-width: 5%;
        flex-grow: 1; }
      .entry-section .entry-inputs input[type="button"] {
        margin-top: 20px; }
    .entry-section .chooseSection {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      .entry-section .chooseSection #showGoto {
        margin-top: 30px; }
      .entry-section .chooseSection #showCreate {
        background-color: #77D1AB;
        margin-top: 20px; }

  a.back-nav {
    z-index: 9999;
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    position: fixed;
    width: 70px;
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-top: 10px; }
    a.back-nav label {
      font-size: 22px;
      line-height: 1.1em; }

  .conditions {
    text-align: center;
    margin-top: 20px; }

  .mobileChatNav {
    display: block;
    width: 100%;
    min-height: 5vh;
    max-height: 10vh; }
    .mobileChatNav #navbarMobileLogo {
      position: relative;
      left: 10px; }
    .mobileChatNav #openMenuMobile {
      position: fixed;
      top: 20px;
      right: 20px; }

  .chat-section .mobileChatMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    padding-top: 5vh;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.5s cubic-bezier(1, 1.48, 0.38, 0.84);
    z-index: 50; }
    .chat-section .mobileChatMenu #closeChatMobileMenu {
      position: absolute;
      right: 20px;
      top: 20px; }
    .chat-section .mobileChatMenu a {
      margin-top: 5vh;
      text-align: center;
      width: 90vw;
      max-height: 40px;
      font-size: 4vh;
      color: #FFFFFF;
      background: #363636;
      line-height: 1.5em;
      padding: 10px 5px;
      padding-top: 5px; }
      .chat-section .mobileChatMenu a:hover {
        cursor: pointer;
        background-color: #222; }
      .chat-section .mobileChatMenu a svg {
        position: relative;
        height: 35px;
        left: 15px;
        top: 7px; }
    .chat-section .mobileChatMenu .inputTextField {
      width: 90vw;
      padding: 5px;
      font-size: 2.5vh;
      margin-top: 20px; }
  .chat-section .chatWindow {
    width: 100%;
    height: 50vh; }
  .chat-section .messageInputFieldSection {
    width: 100%; }
    .chat-section .messageInputFieldSection #chatField {
      padding: 3px; }
    .chat-section .messageInputFieldSection .chatImageSend {
      width: 15vw;
      height: 15vw; }

  body.mobile-menu-visible .mobileChatMenu {
    transform: translateX(-100%); }

  #sendMessage {
    position: fixed;
    right: 5px;
    bottom: 5px; }

  #moreMessage {
    position: fixed;
    left: 25px;
    bottom: 15px; } }
/*
//////////////////////////////
    DESKTOP-TABLET device specific
//////////////////////////////
*/
@media screen and (min-width: 768px) {
  svg#main-logo {
    height: 30vh;
    margin-left: 5vw; }

  .entry-section {
    width: 80vw; }
    .entry-section #errorLabel {
      display: none;
      margin-bottom: 20px;
      padding: 10px;
      color: crimson; }
    .entry-section .entry-inputs {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      height: 250px;
      max-width: 60%;
      margin-top: 4vh;
      padding-left: 10vw; }
      .entry-section .entry-inputs input[type="text"] {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 3vh;
        flex-grow: 2;
        height: 40px;
        flex-basis: 90%;
        transition: ease-in-out, height, font-size 0.3s ease-in-out; }
        .entry-section .entry-inputs input[type="text"]:focus {
          font-size: 3.4vh;
          height: 48px; }
      .entry-section .entry-inputs svg {
        flex-basis: 10%;
        flex-grow: 1; }
      .entry-section .entry-inputs input[type="button"] {
        margin-top: 20px;
        align-self: flex-end;
        margin-left: 3vw; }
    .entry-section #rightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0; }
      .entry-section #rightMenuOverlay .chatteyIsTypingText {
        fill: white;
        font-size: 2.8vh; }
        .entry-section #rightMenuOverlay .chatteyIsTypingText::first-letter {
          fill: #222222; }
      .entry-section #rightMenuOverlay .AnyOtherChatApp {
        font-size: 1.5vh; }
      .entry-section #rightMenuOverlay .thisChatAppSucks {
        font-size: 2.8vh; }
      .entry-section #rightMenuOverlay .tripleDot {
        font-size: 2.8vh; }

  .conditions {
    margin-left: 30vw;
    margin-top: 4vh; }

  .chat-section {
    position: fixed;
    width: 60vw; }
    .chat-section #chatRightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0; }
      .chat-section #chatRightMenuOverlay path {
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, -0.09, 0.48, 1.46);
        transition-delay: 0s; }
      .chat-section #chatRightMenuOverlay:hover path {
        d: path("M250 1000C300 180 180 0 0 0H790V1026H190.042Z"); }
    .chat-section .desktopSideMenu {
      position: fixed;
      z-index: 99999;
      color: #fff;
      right: 0;
      bottom: 1vh;
      display: block; }
      .chat-section .desktopSideMenu a {
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-size: 2.1vh;
        color: #fff;
        background: #525252;
        line-height: 1.5em;
        padding: 7px 5px;
        padding-top: 5px; }
        .chat-section .desktopSideMenu a:first-child {
          position: fixed;
          width: 300px;
          top: 2vh; }
        .chat-section .desktopSideMenu a:hover {
          cursor: pointer;
          background-color: #33B67F; }
        .chat-section .desktopSideMenu a svg {
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px; }
      .chat-section .desktopSideMenu .advertiseSection {
        position: fixed;
        right: 1vw;
        top: 30vh;
        width: 300px; }
        .chat-section .desktopSideMenu .advertiseSection h1 {
          font-size: 2.3vh; }
        .chat-section .desktopSideMenu .advertiseSection h2 {
          font-size: 1.5vh; }
        .chat-section .desktopSideMenu .advertiseSection .advertiseSectionContent {
          padding: 20px;
          padding-bottom: 30px;
          background-color: #525252; }
          .chat-section .desktopSideMenu .advertiseSection .advertiseSectionContent p {
            font-size: 1.4vh;
            line-height: 2em; }
    .chat-section .chatWindow {
      width: 50vw; }
    .chat-section .messageInputFieldSection {
      width: 50vw;
      padding-top: 5px;
      border-bottom: 5px solid #ededed; }
      .chat-section .messageInputFieldSection #chatField {
        padding-left: 10px;
        padding-right: 15px; }
      .chat-section .messageInputFieldSection svg#moreMessage {
        position: relative;
        left: 1vw; }
      .chat-section .messageInputFieldSection svg:last-child {
        position: relative;
        left: 43vw; } }
@media screen and (min-width: 1200px) {
  .chat-section {
    width: 70vw; }
    .chat-section #chatRightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0; }
    .chat-section .desktopSideMenu {
      position: fixed;
      z-index: 99999;
      color: #fff;
      right: 0;
      bottom: 1vh;
      display: block; }
      .chat-section .desktopSideMenu a {
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-size: 2.1vh;
        color: #fff;
        background: #525252;
        line-height: 1.5em;
        padding: 7px 5px;
        padding-top: 5px; }
        .chat-section .desktopSideMenu a:first-child {
          position: fixed;
          width: 300px;
          top: 2vh; }
        .chat-section .desktopSideMenu a:hover {
          cursor: pointer;
          background-color: #33B67F; }
        .chat-section .desktopSideMenu a svg {
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px; }
      .chat-section .desktopSideMenu .advertiseSection {
        position: fixed;
        right: 1vw;
        top: 30vh;
        width: 300px; }
        .chat-section .desktopSideMenu .advertiseSection h1 {
          font-size: 2.3vh; }
        .chat-section .desktopSideMenu .advertiseSection h2 {
          font-size: 1.5vh; }
        .chat-section .desktopSideMenu .advertiseSection .advertiseSectionContent {
          padding: 20px;
          padding-bottom: 30px;
          background-color: #525252; }
          .chat-section .desktopSideMenu .advertiseSection .advertiseSectionContent p {
            font-size: 1.4vh;
            line-height: 2em; }
    .chat-section .chatWindow {
      width: 57vw; }
    .chat-section .messageInputFieldSection {
      width: 57vw;
      padding-top: 5px;
      border-bottom: 5px solid #ededed; }
      .chat-section .messageInputFieldSection #chatField {
        padding-left: 10px;
        padding-right: 10px; }
      .chat-section .messageInputFieldSection svg#moreMessage {
        position: relative;
        left: 1vw; }
      .chat-section .messageInputFieldSection svg:last-child {
        position: relative;
        left: 48vw; } }
@media screen and (min-width: 1660px) {
  .inputTextField {
    width: 300px;
    margin: 5px; }

  .chat-section {
    width: 70vw; }
    .chat-section #chatRightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0; }
    .chat-section .desktopSideMenu {
      position: fixed;
      z-index: 99999;
      color: #fff;
      right: 0;
      bottom: 1vh;
      display: block; }
      .chat-section .desktopSideMenu a {
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-size: 2.1vh;
        color: #fff;
        background: #525252;
        line-height: 1.5em;
        padding: 7px 5px;
        padding-top: 5px; }
        .chat-section .desktopSideMenu a:first-child {
          position: fixed;
          width: 300px;
          top: 2vh; }
        .chat-section .desktopSideMenu a:hover {
          cursor: pointer;
          background-color: #33B67F; }
        .chat-section .desktopSideMenu a svg {
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px; }
      .chat-section .desktopSideMenu .advertiseSection {
        position: fixed;
        right: 1vw;
        top: 30vh;
        width: 300px; }
        .chat-section .desktopSideMenu .advertiseSection h1 {
          font-size: 2.3vh; }
        .chat-section .desktopSideMenu .advertiseSection h2 {
          font-size: 1.5vh; }
        .chat-section .desktopSideMenu .advertiseSection .advertiseSectionContent {
          padding: 20px;
          padding-bottom: 30px;
          background-color: #525252; }
          .chat-section .desktopSideMenu .advertiseSection .advertiseSectionContent p {
            font-size: 1.4vh;
            line-height: 2em; }
    .chat-section .chatWindow {
      width: 70vw; }
    .chat-section .messageInputFieldSection {
      width: 70vw;
      padding-top: 5px;
      border-bottom: 5px solid #ededed; }
      .chat-section .messageInputFieldSection #chatField {
        padding-left: 10px;
        padding-right: 15px; }
      .chat-section .messageInputFieldSection svg#moreMessage {
        position: relative;
        left: 1vw; }
      .chat-section .messageInputFieldSection svg:last-child {
        position: relative;
        left: 63vw; } }

/*# sourceMappingURL=main.css.map */
