@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
////////////////////////
  VARIABLES
////////////////////////
 */

// COLORS
$greenish-darkest: #5BAA89;
$greenish-darker: #33B67F;
$greenish-lighter: #77D1AB;
$greenish-lightets: #D0FFE9;

$grey-to-white: #F8F8F8;

$greyish-lightest: #494949;
$greyish-lighter: #525252;
$greyish-darker: #363636;
$greyish-darkest: #222;

// FONTS
$main-font: 'Russo One', sans-serif;
$chat-font: 'Open Sans', sans-serif;

/*
  SCREEN WIDTHS
  Min-width: 320px (smaller phone viewpoints) / smaller
  Min-width: 480px (small devices and most phones) / small
  Min-width: 768px (most tablets) / mid
  Min-width: 992px (smaller desktop viewpoints) / big
  Min-width: 1200px (large devices and wide screens) / large
 */

$break-smaller: 320px;
$break-small: 480px;
$break-mid: 768px;
$break-big: 960px;
$break-bigger: 1200px;
$break-large: 1660px;

// OTHER VARIABLES
$logo-width: 198px;
$logo-height: 215px;

/*
////////////////////////
  TEMPLATES - for all devices
////////////////////////
 */

// message template
%message-shared {
  display: block;
  color: #000;
  width: 92%;
  padding: 5px;
  font-family: $chat-font;
  font-size: 2vh;
  margin-left: 2px;
  margin-top: 2px;
}


/*
/////////////////////////////
  COMMON for all devices
/////////////////////////////
*/

body{
  font-family: $main-font;
  padding: 5px;

  .hidden{
    display: none;
  }

  #main-content{
    width: 100%;
  }

  a{
    color: $greyish-darker;

    &:hover{
      color: $greyish-lighter;
    }
  }

  input[type="button"]{
    font-family: $main-font;
    background-color: $greyish-darker;
    cursor: pointer;
    display: block;
    width: 263px;
    height: 76px;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    &:hover{
      background-color: $greyish-darkest;
    }
  }

  input[type="text"]{
    background-color: $grey-to-white;
    transition: ease-in-out, background-color .25s ease-in-out;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: lighten( $greyish-darker, 5% );
    &:focus{
      background-color: darken( $grey-to-white, 3% );

      &::placeholder{
        visibility: hidden;
      }
    }
    &::placeholder{
      color: lighten( $greyish-darker, 50% );
    }
  }

  input#createSend{
    background-color: $greenish-lighter;

    &:hover{
      background-color: $greenish-darkest;
    }
  }

// CHAT section
  .chat-section{
    .chatWindow{
      height: 50vh;
      box-sizing:border-box;
      max-width:100%;
      padding: 5px 10px;
      padding-left: 5px;
      position: relative;
      background-color: #F9F9F9;
      border: 1px solid #E5E5E5;
      overflow: hidden;

      .chatWindowMessages{
        height:100%;
        width: 100%;
        overflow-y: scroll;
        .eventMessage{
          @extend %message-shared;
          .messageContent{
            color: white;
            word-break: break-all;
            line-break: normal;
            background-color: #1B2725;
            margin-top: 5px;
            font-size: 1.8vh;
            line-height: 1.8em;
            margin-bottom: 5px;
            padding: 3px;
            border-radius: 3px;
            font-family: $main-font;
          }
        }
        .basicMessage{
          @extend %message-shared;
          .messageContent{
            padding: 5px;
            word-break: break-all;
            line-break: normal;
            border-radius: 2px;
            min-height: 35px;
            background-color: white;
          }
          .messageInfo{
            color: $greyish-lighter;
            font-family: $main-font;
            text-align: right;
            font-size: 1.6vh;
            margin-top: 5px;
            padding-right: 4px;
          }
        }
      }

      ::-webkit-scrollbar {
        display: none;
      }

      #scrollbar-container {
        position: absolute;
        right: 5px;
        bottom: 5px;
        top: 5px;
        width: 7px;
        border: 1px solid #F4F3F3;
        border-radius: 10px;

        #scrollbar {
          position: absolute;
          right: 0;
          height: 30px;
          width: 7px;
          border-radius: 10px;
          background: $greenish-lighter;
        }

      }
    }

    .messageInputFieldSection{
        padding-top: 5px;

      .chatFieldOverLay{

        #chatField{
          border: 1px solid #E5E5E5;
          color: #000;
          font-family: $chat-font;
          max-width: 100%;
          min-width: 98%;
          min-height: 25vh;
          max-height: 30vh;
          box-shadow: none;
          resize: none;
          font-size: 2.8vh;
          &:focus{
            outline: none !important;
            box-shadow: 0 0 1px $greenish-lighter;
          }
        }
        .dragAndDrop{
          display: none;
        }
        .chatImageSend{
          width: 11vw;
          object-fit: scale-down;
          height: 11vw;
          padding: 5px;
          margin: 5px;
          border: 1px solid $greenish-lighter;
        }
        .removeSendPhotos{
          cursor: pointer;
          display: block;
          margin: 10px 5px 10px 10px;
          width: 32px;
          height: 29px;
          #close{
            position: static;
            left: 0;
            cursor: pointer;
            display: block;
            width: 32px;
            height: 29px;
          }
        }

      }
      .dragAndDropOverlay{
        border: 1px solid #E5E5E5;
      }

      #sendMessage{
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
          transform: scale(0.9);
        }
      }

      #moreMessage{
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
          transform: scale(0.9);
        }
      }
    }
  }
}

/*
///////////////////////////////
     MOBILE device specific
///////////////////////////////
*/
@media screen and (max-width: $break-small) {

  // ENTRY section
  svg#main-logo{
    width:  100%;
    height: $logo-height * 1.2;
  }
  .entry-section{
    width: 100%;

    #errorLabel{
      display: none;
      margin-bottom: 20px;
      padding: 10px;
      color: crimson;
    }

    .entry-inputs{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      padding-right: 5px;
      padding-left: 5px;
      height: 250px;

      input[type="text"]{
        max-width: 77%;
        min-width: 77%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
        flex-grow: 1;
        height: 24px;
        transition: ease-in-out, height, font-size .1s ease-in-out;

        &:focus{
          font-size: 24px;
          min-width: 77%;
          height: 40px;
        }
      }

      svg{
        min-width: 5%;
        flex-grow: 1;
      }

      input[type="button"]{
        margin-top: 20px;
      }
    }


    .chooseSection{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      #showGoto{
        margin-top: 30px;
      }

      #showCreate{
        background-color: $greenish-lighter;
        margin-top: 20px;
      }
    }

  }

  a.back-nav{
    z-index: 9999;
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    position: fixed;
    width: 70px;
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-top: 10px;

    label{
      font-size: 22px;
      line-height: 1.1em;
    }
  }

  .conditions{
    text-align: center;
    margin-top: 20px;
  }

  // CHAT section

  .mobileChatNav{
    display: block;
    width: 100%;
    min-height: 5vh;
    max-height: 10vh;

    #navbarMobileLogo{
      position: relative;
      left: 10px;
    }
    #openMenuMobile{
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }

  .chat-section{

    // mobile menu
    .mobileChatMenu{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      background-color: #FFFFFF;
      padding-top: 5vh;
      left: 100%;
      top: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.5s cubic-bezier(1, 1.48, 0.38, 0.84);
      z-index: 50;
      #closeChatMobileMenu{
          position: absolute;
          right: 20px;
          top: 20px;
      }
      a{
        margin-top: 5vh;
        text-align: center;
        width: 90vw;
        max-height: 40px;
        font-size: 4vh;
        color: #FFFFFF;
        background: $greyish-darker;
        line-height: 1.5em;
        padding: 10px 5px;
        padding-top: 5px;
        &:hover{
          cursor: pointer;
          background-color: $greyish-darkest;
        }
        svg{
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px;
        }
      }
      .inputTextField{
          width: 90vw;
          padding: 5px;
          font-size: 2.5vh;
          margin-top: 20px;
      }
    }

    .chatWindow{
      width: 100%;
      height: 50vh;
    }
    .messageInputFieldSection{
      width: 100%;
      #chatField{
        padding: 3px;
      }
      .chatImageSend{
        width: 15vw;
        height: 15vw;
      }
    }
  }

  // mobile menu animation open
  body.mobile-menu-visible .mobileChatMenu{
    transform: translateX(-100%);
  }

  #sendMessage{
     position: fixed;
     right: 5px;
     bottom: 5px;
  }

  #moreMessage{
    position: fixed;
    left: 25px;
    bottom: 15px;
  }
}

/*
//////////////////////////////
    DESKTOP-TABLET device specific
//////////////////////////////
*/
@media screen and (min-width: $break-mid){

  // ENTRY section
  svg#main-logo{
    height: 30vh;
    margin-left: 5vw;
  }
  .entry-section {
    width: 80vw;

    #errorLabel {
      display: none;
      margin-bottom: 20px;
      padding: 10px;
      color: crimson;
    }

    .entry-inputs {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      height: 250px;
      max-width: 60%;
      margin-top: 4vh;
      padding-left: 10vw;

      input[type="text"] {

        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 3vh;
        flex-grow: 2;
        height: 40px;
        flex-basis: 90%;
        transition: ease-in-out, height, font-size 0.3s ease-in-out;

        &:focus {
          font-size: 3.4vh;
          height: 48px;
        }
      }

      svg {
        flex-basis: 10%;
        flex-grow: 1;
      }

      input[type="button"] {
        margin-top: 20px;
        align-self: flex-end;
        margin-left: 3vw;
      }


    }

    #rightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0;
      .chatteyIsTypingText{
        fill: white;
        font-size: 2.8vh;
        &::first-letter{
          fill: #222222;
        }
      }
      .AnyOtherChatApp{
        font-size: 1.5vh;
      }
      .thisChatAppSucks{
        font-size: 2.8vh;
      }
      .tripleDot{
        font-size: 2.8vh;
      }
    }
  }
  .conditions{
    margin-left: 30vw;
    margin-top: 4vh;
  }

  // CHAT section
  .chat-section{
    position: fixed;
    width: 60vw;
    #chatRightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0;
      path{
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, -0.09, 0.48, 1.46);
        transition-delay: 0s;
      }
      &:hover path {
        d: path("M250 1000C300 180 180 0 0 0H790V1026H190.042Z");
      }
    }

    .desktopSideMenu{
      position: fixed;
      z-index: 99999;
      color: #fff;
      right: 0;
      bottom: 1vh;
      display: block;
      a{
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-size: 2.1vh;
        color: #fff;
        background: $greyish-lighter;
        line-height: 1.5em;
        padding: 7px 5px;
        padding-top: 5px;
        &:first-child{
          position: fixed;
          width: 300px;
          top: 2vh;
        }
        &:hover{
          cursor: pointer;
          background-color: $greenish-darker;
        }
        svg{
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px;
        }
      }
      .advertiseSection{
        position: fixed;
        right: 1vw;
        top: 30vh;
        width: 300px;
        h1{
          font-size: 2.3vh;
        }
        h2{
          font-size: 1.5vh;
        }
        .advertiseSectionContent{
          padding: 20px;
          padding-bottom: 30px;
          background-color: $greyish-lighter;
          p{
            font-size: 1.4vh;
            line-height: 2em;
          }
        }
      }
    }
    .chatWindow{
      width: 50vw;
    }
    .messageInputFieldSection{
      width: 50vw;
      padding-top: 5px;
      border-bottom: 5px solid #ededed;
      #chatField{
        padding-left: 10px;
        padding-right: 15px;
      }
      svg#moreMessage{
        position: relative;
        left: 1vw;
      }
      svg:last-child{
        position: relative;
        left: 43vw;
      }
    }
  }
}

@media screen and (min-width: $break-bigger){
  // CHAT section
  .chat-section{
    width: 70vw;
    #chatRightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0;
    }
    .desktopSideMenu{
      position: fixed;
      z-index: 99999;
      color: #fff;
      right: 0;
      bottom: 1vh;
      display: block;
      a{
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-size: 2.1vh;
        color: #fff;
        background: $greyish-lighter;
        line-height: 1.5em;
        padding: 7px 5px;
        padding-top: 5px;
        &:first-child{
          position: fixed;
          width: 300px;
          top: 2vh;
        }
        &:hover{
          cursor: pointer;
          background-color: $greenish-darker;
        }
        svg{
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px;
        }
      }
      .advertiseSection{
        position: fixed;
        right: 1vw;
        top: 30vh;
        width: 300px;
        h1{
          font-size: 2.3vh;
        }
        h2{
          font-size: 1.5vh;
        }
        .advertiseSectionContent{
          padding: 20px;
          padding-bottom: 30px;
          background-color: $greyish-lighter;
          p{
            font-size: 1.4vh;
            line-height: 2em;
          }
        }
      }
    }
    .chatWindow{
      width: 57vw;
    }
    .messageInputFieldSection{
      width: 57vw;
      padding-top: 5px;
      border-bottom: 5px solid #ededed;
      #chatField{
        padding-left: 10px;
        padding-right: 10px;
      }
      svg#moreMessage{
        position: relative;
        left: 1vw;
      }
      svg:last-child{
        position: relative;
        left: 48vw;
      }
    }
  }
}

@media screen and (min-width: $break-large){

  .inputTextField{
    width: 300px;
    margin: 5px;
  }

  // CHAT section
  .chat-section{
    width: 70vw;
    #chatRightMenuOverlay {
      z-index: -1;
      position: fixed;
      right: 0;
      top: 0;
    }
    .desktopSideMenu{
      position: fixed;
      z-index: 99999;
      color: #fff;
      right: 0;
      bottom: 1vh;
      display: block;
      a{
        display: block;
        margin-right: 30px;
        margin-top: 10px;
        width: 300px;
        text-align: center;
        font-size: 2.1vh;
        color: #fff;
        background: $greyish-lighter;
        line-height: 1.5em;
        padding: 7px 5px;
        padding-top: 5px;
        &:first-child{
          position: fixed;
          width: 300px;
          top: 2vh;
        }
        &:hover{
          cursor: pointer;
          background-color: $greenish-darker;
        }
        svg{
          position: relative;
          height: 35px;
          left: 15px;
          top: 7px;
        }
      }
      .advertiseSection{
        position: fixed;
        right: 1vw;
        top: 30vh;
        width: 300px;
        h1{
          font-size: 2.3vh;
        }
        h2{
          font-size: 1.5vh;
        }
        .advertiseSectionContent{
          padding: 20px;
          padding-bottom: 30px;
          background-color: $greyish-lighter;
          p{
            font-size: 1.4vh;
            line-height: 2em;
          }
        }
      }
    }
    .chatWindow{
      width: 70vw;
    }
    .messageInputFieldSection{
      width: 70vw;
      padding-top: 5px;
      border-bottom: 5px solid #ededed;
      #chatField{
        padding-left: 10px;
        padding-right: 15px;
      }
      svg#moreMessage{
        position: relative;
        left: 1vw;
      }
      svg:last-child{
        position: relative;
        left: 63vw;
      }
    }
  }
}